.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #d4f0f7;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"],
  textarea,
  button {
    width: 300px;
    margin: 10px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #68c3d4;
  }
  
  #search-input {
    width: 90%;
  }
  
  #note-dropdown {
    width: 300px;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .note-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
  }
  
  .note-popup textarea,
  .note-popup input[type="text"] {
    width: 100%;
    margin: 10px;
  }
  
  .note-popup > *:not(:last-child) {
    margin: 10px;
  }
  
  button {
    background-color: #4fbf7f;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #a1c1b3;
  }
  
  button:active {
    background-color: #328163;
  }
  
